<div class="">
    <div class="row head">
        <h1 class="col-md-12">
            <span id="formsCount"></span>
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <span data-i18n="forms"> Form(s)</span>
        </h1>
    </div>

    <div class="row scrollSection resized">
        <div class="col-md-12">
            <div id="scrollSection2">
                <div id="grid2"></div>
            </div>
        </div>
    </div>

    <div class="row scrollSection">
        <div class="col-md-12">
            <div id="scrollSection">
                <div id="grid"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="round-container">
            <div class="round">
                <button>
                    <span class="reneco reneco-add"></span>
                </button>
                <span data-i18n="form.actions.add">NOUVEAU</span>
            </div>

            <div class="round blue">
                <button>
                    <span class="reneco reneco-import"></span>
                </button>
                <span data-i18n="form.actions.import">IMPORTER</span>
            </div>
        </div>
    </div>


    <footer>



        <!--<button class="rounded red" id="add">-->
            <!--<label>-->
                <!--<span data-i18n="form.actions.add">AJOUTER</span>-->
            <!--</label>-->
            <!--<label>-->
                <!--<span class="reneco reneco-add"></span>-->
            <!--</label>-->
        <!--</button>-->

        <!--<div>-->
            <!--<button class="reneco grey" id="delete">-->
                <!--<label>-->
                    <!--<span data-i18n="actions.delete">SUPPRIMER</span>-->
                <!--</label>-->
                <!--<label>-->
                    <!--<span class="reneco reneco-trash"></span>-->
                <!--</label>-->
            <!--</button>-->

            <!--<button class="reneco grey" id="copy">-->
                <!--<label>-->
                    <!--<span data-i18n="actions.copy">DUPLIQUER</span>-->
                <!--</label>-->
                <!--<label>-->
                    <!--<span class="reneco reneco-duplicate"></span>-->
                <!--</label>-->
            <!--</button>-->
        <!--</div>-->

        <!--<div>-->
            <!--<button class="reneco red" id="export">-->
                <!--<label>-->
                    <!--<span data-i18n="form.actions.export">EXPORTER</span>-->
                <!--</label>-->
                <!--<label>-->
                    <!--<span class="reneco reneco-export2"></span>-->
                <!--</label>-->
            <!--</button>-->

            <!--<button class="reneco red" id="edit">-->
                <!--<label>-->
                    <!--<span data-i18n="form.actions.edit">EDITER</span>-->
                <!--</label>-->
                <!--<label>-->
                    <!--<span class="reneco reneco-edit"></span>-->
                <!--</label>-->
            <!--</button>-->
        <!--</div>-->

    </footer>

</div>
