<div>

        <div class="search">
            <label for="searchInput" data-i18n="app.search">
                Recherche
            </label>
            <br/>
            <input type="text" id="searchInput" name="searchInput"/> <span class="reneco reneco-settings"></span>
        </div>

        <div class="context">

            <div class="context-container">
                <div class="track">
                    <span class="reneco reneco-trackbird"></span>
                    <br/>
                    <label>
                        Track
                    </label>
                </div>

                <div class="ecoll">
                    <span class="reneco reneco-ecollectionbig"></span>
                    <br/>
                    <label>
                        eCollection
                    </label>
                </div>

                <div class="eco">
                    <span class="reneco reneco-releve"></span>
                    <br/>
                    <label>
                        ecoRelevé
                    </label>
                </div>
            </div>



        </div>

</div>
